:root {
    --fuenteprin: "Metal Mania", serif;
    --fuentesec: "PT Sans", sans-serif;
    --blanco: #ffffff;
    --negro: #000000;
    --colorprim: #8e5307;
    --gris: #d6dbd5;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1REM = 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
body {
    font-family: var(--fuentesec);
    font-size: 1.6rem;
    line-height: 1.5;
}
.conte {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteprin);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}
.webp .header {
    background-image: url(../img/banner.webp);
}

.no-webp .header {
    background-image: url(../img/banner.jpg);
}

.header {

    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto {
    color: var(--blanco);
    text-align: center;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

.barra {
    padding: 2rem 0;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    color: var(--blanco);
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }
}
.nav__enlace {
        display: block;
        text-align: center;
        font-size: 1.8rem;
        color: var(--blanco);
        margin: 2rem;
        font-weight: bold;
        text-transform: uppercase;
}  
@media (min-width: 768px) {
    .conteprin {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
}

.blog, .aside1 {
    margin: 0 2rem;
}

.entrada {
    border: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    background-color: var(--colorprim);
    font-family: var(--fuenteprin);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    border: none;
}

.boton:hover {
    color: var(--negro);
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton--secundario {
   background-color: var(--negro);
}

.cursos {
  list-style: none;  
  
}

.widget-curso {
    border-bottom: solid 1px var(--gris);
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-curso__label, .curso__label {
    font-family: var(--fuentesec);
    font-weight: bold;
}

.widget-curso__info, .curso__info {
    font-weight: 400;
}

.widget-curso__info, .widget-curso__info {
    font-size: 1.8rem;
}

.footer {
    background-color: var(--negro);
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }  
    
    .sobre-nosotros__texto {
        margin: 0 2rem;
    }
}

.curso {
    padding: 3rem 0;
    border: solid 1px var(--gris);
}

.curso:last-of-type {
    border: none;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .curso__informacion {
        margin: 0 2rem;
    }
}

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 30rem;
    background-size: cover;
}

.form {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    font-weight: bold;
    text-align: right;
    margin: 0 2rem;
}

.campo__input {
    flex: 1;
}

.campo__input--textarea {
    height: 20rem;
}

